@(usr: model.User, jobs: Seq[model.Job])
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        Hello @usr.name
        <ul>
        @for(job <- jobs) {
            <li>
                <a href="@routes.Application.files(job.id)"> @job.name</a>
            </li>
        }
        </ul>
    </body>
</html>